@media (min-width: 769px) and (max-width: 1023px) {
  .about {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  
  .header__title {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
  }
  
  .header__text {
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
  }
  
  .header__button {
    font-size: 16px;
    padding: 16px 28px;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    margin: 32px auto 0;
  }
  
  .header__star--1 {
    width: 35px;
    top: 97px;
    left: 37px;
  }
  
  .header__star--2 {
    width: 21px;
    left: 92px;
    top: 64px;
  }
  
  .header__star--3 {
    width: 21px;
    bottom: 24px;
    right: 86px;
  }
  
  .header__star--4 {
    width: 35px;
    bottom: 28px;
    right: 32px;
  }
  
  .header__star--5 {
    display: none;
  }
  
  .header__star--mob {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .about {
    display: none;
  }
  
  .games__title {
    font-size: 36px;
    text-align: center;
    padding-top: 0;
    color: white;
    background: transparent;
  }
}