
@media (max-width: 768px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  
  .header {
    height: 667px;
    padding-top: 40px;
    
    &__content {
      padding-top: 100px;
      text-align: center;
    }
    
    &__title {
      font-size: 36px;
      line-height: 44px;
      text-align: center;
    }
    
    &__text {
      font-size: 16px;
      line-height: 20px;
      margin-top: 16px;
      text-align: center;
    }
    
    &__button {
      font-size: 16px;
      padding: 12px 24px;
      margin: 32px auto 0;
      display: inline-block;
      min-width: 260px;
    }
    
    &__star {
      &--1 {
        width: 35px;
        top: 97px;
        left: 37px;
      }
      
      &--2 {
        width: 21px;
        left: 92px;
        top: 64px;
      }
      
      &--3 {
        width: 21px;
        bottom: 24px;
        right: 86px;
      }
      
      &--4 {
        width: 35px;
        bottom: 28px;
        right: 32px;
      }
      
      &--5 {
        display: none;
      }
      
      &--mob {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 180px;
        height: auto;
      }
    }
  }
  
  .about {
    display: none;
  }
  
  .games {
    padding-top: 40px;
    padding-bottom: 60px;
    
    &__title {
      font-size: 36px;
      line-height: 44px;
      text-align: left;
      padding: 40px 0 30px 0;
      color: white;
    }
    
    &__star {
      &--1, &--2, &--3, &--4 {
        display: none !important;
      }
    }
  }
  
  .game-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    padding-top: 15px;
    overflow: visible;
    position: relative;
    width: 92%;
    margin: 30px auto;
    min-height: auto;
    
    &--reversed {
      flex-direction: column;
      
      .game-detail__image {
        order: 1;
      }
      
      .game-detail__content {
        order: 2;
      }
    }
    
    &__image {
      width: 100%;
      height: 220px;
      object-fit: cover;
      border-radius: 15px;
      margin-top: -40px;
      margin-bottom: 15px;
      box-shadow: none;
      z-index: 10;
    }
    
    &__content {
      padding: 20px;
      text-align: left;
      width: 100%;
      box-sizing: border-box;
      z-index: 5;
    }
    
    &__title {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 12px;
      text-align: left;
      width: 100%;
      color: #333;
      line-height: 1.3;
    }
    
    &__description {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 20px;
      text-align: left;
      width: 100%;
      color: #666;
    }
    
    &__button {
      width: auto;
      min-width: 160px;
      font-size: 14px;
      padding: 12px 12px;
      margin: 0;
      margin-right: auto;
      display: block;
      background: #202027;
      color: white;
      border: none;
      border-radius: 60px;
      cursor: pointer;
      font-weight: 600;
      height: 44px;
    }
    
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}


@media (max-width: 480px) {
  .header {
    height: 600px;
    
    &__title {
      font-size: 32px;
      line-height: 39px;
    }
    
    &__text {
      font-size: 14px;
      line-height: 18px;
    }
  }
  
  .game-detail {
    width: 94%;
    margin: 25px auto;
    
    &__image {
      height: 200px;
      margin-top: -30px;
    }
    
    &__content {
      padding: 18px 20px 20px 20px;
    }
    
    &__title {
      margin-bottom: 10px;
    }
    
    &__description {
      margin-bottom: 18px;
    }
    
    &__button {
      font-size: 13px;
      padding: 13px 13px;
      height: 40px;
    }
    
    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }
}